{% extends 'workshop_app/base.html' %}
{% load custom_filters %}

	{% block title %}
		Register
	{% endblock %}

{% block content %}

	<style type="text/css">
    	label.required::after {
    	content: "*";
    	color: red;
		}

		.errorlist {
      color: red;
    }
	</style>

	<div class="container" >
		<br>
		<h3 class="mb-3">Coordinator Registration Form</h3>
		<form action="" method="post" class="card p-3" novalidate>
			{% csrf_token %}
				<div class="table-responsive">
				<table class="table table-bordered table-sm table-striped mb-3 align-middle">
					{{ form.as_table }}
				</table>
				</div>
				<div class="d-grid d-md-flex justify-content-md-end">
					<button class="btn btn-primary w-100 w-md-auto" type="submit" aria-label="Submit registration form">Register</button>
				</div>
		</form>
		<!-- Activate when Instructor registeration starts -->
		<br>
	</div>
{% endblock %}
